{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "add-react-displayname",
        "transform-class-properties",
        "transform-object-rest-spread",
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
}