.loader {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.loader__image {
    height: 6rem;
    width: 6rem;
}

.item-loader {
    position: relative;
}

.item-loader__mask {
    z-index: 10000;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .7);
}

.spinner {
    margin: auto;
    border: 1rem solid lightgray;
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    border-top-color: #36A2EB;
    border-bottom-color: #4BC0C0;
    animation: spin 2s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
      border-top-color: #FFCE56;
      border-bottom-color: #FFCE56;
    }
    100% {
      transform: rotate(720deg);
    }
  }